.action-bar {
    background-color: #F6093C;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 24;
}

.gradient {
    padding: 10 25 25 25;
}

.transparent-area {
    background-color: rgba(255, 255, 255, 190);
    border-radius: 20;
    padding: 20;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.transparent-area label {
    font-size: 24;
    font-weight: bold;
}

.text {
    padding: 10 20 0 20;
}

.buttons .fa {
    font-size: 50;
    width: 60;
    text-align: center;
}