<ActionBar class="action-bar" flat="true" (tap)="testAudio()">
    <NavigationButton visibility="collapsed"></NavigationButton>
    <StackLayout horizontalAlignment="center">
        <Label [text]="'HOME.TITLE' | translate"></Label>
    </StackLayout>
</ActionBar>

<StackLayout class="main-content">
    <Gradient height="100%" direction="to bottom" colors="#6298ee, #5776b8" class="gradient">
        <StackLayout class="transparent-area" height="100%">
            <StackLayout class="text">
                <Label [text]="'HOME.TEXT' | translate" textWrap="true"></Label>
            </StackLayout>

            <StackLayout class="buttons">
                <Button class="btn btn-primary" [text]="'HOME.SLIDER' | translate" (tap)="navigateToSlider()"></Button>

                <Button class="btn btn-primary" [text]="'HOME.ENGLISH' | translate" (tap)="changeLanguage('en')"></Button>
                <Button class="btn btn-primary" [text]="'HOME.FOREIGN' | translate" (tap)="changeLanguage('nl')"></Button>

                <Button class="btn btn-primary " [text]="'HOME.MIP' | translate" (tap)="navigateToMip()"></Button>

                <Button class="btn btn-primary " [text]="'HOME.MACHINE_LEARNING' | translate" (tap)="navigateToMachineLearning()"></Button>
                <Button class="btn btn-primary" [text]="'HOME.SPEECH_RECOGNITION' | translate" (tap)="navigateToSpeechRecognition()"></Button>
            </StackLayout>
        </StackLayout>
    </Gradient>
</StackLayout>