<ActionBar class="action-bar" flat="true" [title]="'ML.TITLE' | translate">
  <NavigationButton [text]="'NAVIGATION.BACK' | translate"></NavigationButton>
</ActionBar>

<StackLayout class="main-content">
  <Gradient height="100%" direction="to bottom" colors="#0ABC0A, #0F900F" class="gradient">
    <GridLayout rows="auto, auto, *, auto" class="transparent-area" height="100%">

      <StackLayout row="1" class="buttons">
        <Button class="btn btn-primary" text="Camera roll" (tap)="fromCameraroll()"></Button>
        <!-- the image may require rotation on Android, and permission may be required - not feeling like exposing this for now -->
        <iOS>
          <Button class="btn btn-primary" text="Take a picture" (tap)="fromCameraPicture()"></Button>
        </iOS>
      </StackLayout>

      <Image row="2" [src]="pickedImage" width="240" horizontalAlignment="center" (tap)="reusePickedImage()" style="border-radius: 20;"></Image>

    </GridLayout>


  </Gradient>
</StackLayout>