<ActionBar class="action-bar" flat="true">
  <NavigationButton visibility="collapsed"></NavigationButton>
  <StackLayout horizontalAlignment="center">
    <Label [text]="'MIP.TITLE' | translate"></Label>
  </StackLayout>
</ActionBar>

<StackLayout class="main-content">
  <Gradient height="100%" direction="to bottom" colors="#D109D1, #7A067A" class="gradient">
    <StackLayout class="transparent-area" height="100%">
      <GridLayout rows="160" columns="*, 80, 80, 80, *" class="buttons">
        <Label row="0" col="1" [text]="'fa-volume-up' | fonticon" (tap)="doSound()" class="fa"></Label>
        <Label row="0" col="2" [text]="'fa-lightbulb-o' | fonticon" (tap)="doColor()" class="fa"></Label>
        <Label row="0" col="3" [text]="'fa-eye' | fonticon" (tap)="doWink()" class="fa"></Label>
      </GridLayout>
      <GridLayout rows="80, 80, 80" columns="*, 80, 80, 80, *" class="buttons">
        <Label row="0" col="2" [text]="'fa-arrow-up' | fonticon" (tap)="moveForward()" class="fa"></Label>
        <Label row="1" col="1" [text]="'fa-arrow-left' | fonticon" (tap)="turnLeft()" class="fa"></Label>
        <Label row="1" col="2" [text]="'fa-fighter-jet' | fonticon" (tap)="startAccelerometer()" class="fa"></Label>
        <Label row="1" col="3" [text]="'fa-arrow-right' | fonticon" (tap)="turnRight()" class="fa"></Label>
        <Label row="2" col="2" [text]="'fa-arrow-down' | fonticon" (tap)="moveBack()" class="fa"></Label>
      </GridLayout>
    </StackLayout>
  </Gradient>
</StackLayout>