<ActionBar class="action-bar" flat="true" [title]="'MIP.TITLE' | translate">
	<NavigationButton [text]="'NAVIGATION.BACK' | translate"></NavigationButton>
</ActionBar>

<StackLayout class="main-content">
	<Gradient height="100%" direction="to bottom" colors="#D109D1, #7A067A" class="gradient">
		<StackLayout class="transparent-area" height="100%">
			<StackLayout class="buttons">
				<Button class="btn btn-primary" [text]="'MIP.SCAN' | translate" (tap)="scan()"></Button>
				<img src="~/assets/images/mip.png" class="mip" [visibility]="canConnect ? 'visible' : 'collapsed'">
				<Button class="btn btn-primary" [text]="'MIP.CONNECT' | translate" (tap)="connect()" [visibility]="canConnect ? 'visible' : 'collapsed'"></Button>
				<Button class="btn btn-primary" [text]="'MIP.CONTROLS' | translate" (tap)="doControls()" [visibility]="isConnected ? 'visible' : 'collapsed'"></Button>
			</StackLayout>
		</StackLayout>
	</Gradient>
</StackLayout>